# Create data base

In [1]:
# Import the sqlite3 module for SQLite database interaction
import sqlite3

# Connect to the SQLite database (if the file doesn't exist, SQLite will create it)
con = sqlite3.connect("CyclisticDataBase.db")

# Create tables

In [2]:
# Create a cursor object to interact with the SQLite database
cur = con.cursor()

# Create Bike Trips
cur.execute('''
CREATE TABLE bike_trips (
    ride_id INT PRIMARY KEY,
    rideable_type VARCHAR(255),
    started_at TIMESTAMP,
    ended_at TIMESTAMP,
    start_station_name VARCHAR(255),
    start_station_id INT,
    end_station_name VARCHAR(255),
    end_station_id INT,
    start_lat DECIMAL(9,6),
    start_lng DECIMAL(9,6),
    end_lat DECIMAL(9,6),
    end_lng DECIMAL(9,6),
    member_casual VARCHAR(50)
);
''')

# Be sure to close the connection
con.close()

# Load data from spreadsheet to data base

In [4]:
import pandas as pd
import sqlite3

# Connect to the SQLite database (if the file does not exist, SQLite will create it)
database_file = 'CyclisticDataBase.db'
conn = sqlite3.connect(database_file)

# Table to be processed
table_name = 'bike_trips'

# List of files to be processed


files=['202201-divvy-tripdata','202202-divvy-tripdata','202203-divvy-tripdata','202204-divvy-tripdata',
      '202205-divvy-tripdata','202206-divvy-tripdata','202207-divvy-tripdata','202208-divvy-tripdata',
      '202209-divvy-publictripdata','202210-divvy-tripdata','202211-divvy-tripdata','202212-divvy-tripdata',
      '202301-divvy-tripdata','202302-divvy-tripdata','202303-divvy-tripdata','202304-divvy-tripdata',
      '202305-divvy-tripdata','202306-divvy-tripdata','202307-divvy-tripdata','202308-divvy-tripdata',
      '202309-divvy-tripdata','202310-divvy-tripdata','202311-divvy-tripdata']


# Iterate over each table
for file in files:
    
    # Path to the CSV file
    csv_file_path = 'raw_data/' + file + '.csv'

    # Read data from the CSV file
    # Note: ISO-8859-1 encoding is used, and lines with errors are skipped
    df = pd.read_csv(csv_file_path, encoding='ISO-8859-1', on_bad_lines='skip', sep=',', low_memory=False)

    # Load data into the database
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    
    # Print a success message
    print(f'Data from {csv_file_path} loaded into the {table_name} table of the {database_file} database successfully.')

# Close the connection
conn.close()

Data from raw_data/202201-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202202-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202203-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202204-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202205-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202206-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202207-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202208-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202209-divvy-publictripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202210-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202211-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202212-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202301-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202302-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202303-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202304-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202305-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202306-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202307-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202308-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202309-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202310-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.
Data from raw_data/202311-divvy-tripdata.csv loaded into the bike_trips table of the CyclisticDataBase.db database successfully.

 # Creating Views

### 1. Add calculated week_day and ride_lenght fields

In [11]:
import pandas as pd
import sqlite3

# Using 2 methods to retrieve records from the database: 1. cursor, 2. dataframe

# Create a SQL connection to our SQLite database
database_file = 'CyclisticDataBase.db'
conn = sqlite3.connect(database_file)

# Create a cursor to execute SQL queries
cur = conn.cursor()
# Drop the view if it already exists
cur.execute('DROP VIEW IF EXISTS bike_trips_view')

# SQL query to retrieve the top 10 locations with the highest number of reviews
querystring = '''
   
   -- Modified bike_trips_view with year, month, and day

CREATE VIEW bike_trips_view AS
    SELECT
        ride_id,
        rideable_type,
        started_at,
        ended_at,
        start_station_name,
        start_station_id,
        end_station_name,
        end_station_id,
        start_lat,
        start_lng,
        end_lat,
        end_lng,
        member_casual,
        CASE
            WHEN strftime('%w', started_at) = '0' THEN 'Sunday'
            WHEN strftime('%w', started_at) = '1' THEN 'Monday'
            WHEN strftime('%w', started_at) = '2' THEN 'Tuesday'
            WHEN strftime('%w', started_at) = '3' THEN 'Wednesday'
            WHEN strftime('%w', started_at) = '4' THEN 'Thursday'
            WHEN strftime('%w', started_at) = '5' THEN 'Friday'
            WHEN strftime('%w', started_at) = '6' THEN 'Saturday'
        END AS week_day,
        CAST((julianday(ended_at) - julianday(started_at)) * 24 * 60 AS INTEGER) AS trip_length,
        strftime('%Y', started_at) AS year,
        strftime('%m', started_at) AS month,
        strftime('%d', started_at) AS day
    FROM
        bike_trips;

'''


cur.execute(querystring)


# Execute the query using a Pandas DataFrame
df = pd.read_sql_query('SELECT * FROM bike_trips_view', conn)

# Display the result as a DataFrame
print(df)

# Be sure to close the connection
conn.close()

                 ride_id  rideable_type           started_at  \
0       4EAD8F1AD547356B  electric_bike  2023-11-30 21:50:05
1       6322270563BF5470  electric_bike  2023-11-03 09:44:02
2       B37BDE091ECA38E0  electric_bike  2023-11-30 11:39:44
3       CF0CA5DD26E4F90E   classic_bike  2023-11-08 10:01:45
4       EB8381AA641348DB   classic_bike  2023-11-03 16:20:25
...                  ...            ...                  ...
362513  30B44BD4C16E688C   classic_bike  2023-11-24 08:39:27
362514  094A79892812BAB9   classic_bike  2023-11-06 09:07:20
362515  F0A7DF8A44FDA3CB  electric_bike  2023-11-10 19:35:30
362516  4D5E3685BB913A3C   classic_bike  2023-11-27 09:11:23
362517  1FA95C375BE4B6A6  electric_bike  2023-11-20 16:16:03

                   ended_at          start_station_name start_station_id  \
0       2023-11-30 22:13:27             Millennium Park            13008
1       2023-11-03 10:17:15      Broadway & Sheridan Rd            13323
2       2023-11-30 11:40:08       State St & Pearson St     TA1307000061
3       2023-11-08 10:27:05         Theater on the Lake     TA1308000001
4       2023-11-03 16:54:25         Theater on the Lake     TA1308000001
...                     ...                         ...              ...
362513  2023-11-24 08:47:03   Clark St & Wellington Ave     TA1307000136
362514  2023-11-06 09:10:00  Aberdeen St & Jackson Blvd            13157
362515  2023-11-10 19:44:28      Halsted St & Roscoe St     TA1309000025
362516  2023-11-27 09:13:23  Aberdeen St & Jackson Blvd            13157
362517  2023-11-20 16:17:43  Aberdeen St & Jackson Blvd            13157

                      end_station_name end_station_id  start_lat  start_lng  \
0        Pine Grove Ave & Waveland Ave   TA1307000150  41.881101 -87.624082
1               Broadway & Sheridan Rd          13323  41.952868 -87.650035
2                State St & Pearson St   TA1307000061  41.897533 -87.628694
3                  Theater on the Lake   TA1308000001  41.926277 -87.630834
4                  Theater on the Lake   TA1308000001  41.926277 -87.630834
...                                ...            ...        ...        ...
362513  Southport Ave & Wellington Ave   TA1307000006  41.936497 -87.647539
362514        Peoria St & Jackson Blvd          13158  41.877726 -87.654787
362515  Southport Ave & Wellington Ave   TA1307000006  41.943687 -87.648855
362516        Peoria St & Jackson Blvd          13158  41.877726 -87.654787
362517        Peoria St & Jackson Blvd          13158  41.877869 -87.654898

          end_lat    end_lng member_casual   week_day  trip_length
0       41.949473 -87.646453        member   Thursday           23
1       41.952833 -87.649993        member     Friday           33
2       41.897448 -87.628722        member   Thursday            0
3       41.926277 -87.630834        member  Wednesday           25
4       41.926277 -87.630834        member     Friday           34
...           ...        ...           ...        ...          ...
362513  41.935775 -87.663600        member     Friday            7
362514  41.877642 -87.649618        member     Monday            2
362515  41.935775 -87.663600        member     Friday            8
362516  41.877642 -87.649618        member     Monday            1
362517  41.877642 -87.649618        member     Monday            1

[362518 rows x 15 columns]